a{animation-fill-mode: both;}

@keyframes slideInUp {
	0% {
		transform: translateY(-100%);
	}

	100% {
		transform: translateY(0);
	}
}
.bb{mask: linear-gradient(to top, #debb47 50%, rgba(36, 142, 36, 0))};